<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868865029011-7d694800df8oil9025rtf4ap2v77lvqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868865029011-7d694800df8oil9025rtf4ap2v77lvqp</string>
	<key>API_KEY</key>
	<string>AIzaSyCyTesPburvJrZ6QVuz2zb6I5qItjiWFBY</string>
	<key>GCM_SENDER_ID</key>
	<string>868865029011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yovotomejor.ioapp</string>
	<key>PROJECT_ID</key>
	<string>maskin-292c4</string>
	<key>STORAGE_BUCKET</key>
	<string>maskin-292c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868865029011:ios:a6857f72c65d0748adae66</string>
</dict>
</plist>